<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="flex  justify-between">
      <h2
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl text-center"
      >
        {{'favorites.favorites_cart'|translate}} ({{ (FavItems$ | async)?.length }})
      </h2>
      <ng-container *ngIf="((FavItems$ | async)?.length || 0) > 0">
      <button
        (click)="clearAllFavorites()"
        class="rounded-lg bg-red-600 px-4 py-2 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400"
      >
        {{'favorites.clear_all_favorites'|translate}}
      </button>
    </ng-container>
    </div>

    <div class="border border-gray-200 mt-6 shadow-lg rounded-lg"></div>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          <ng-container *ngFor="let item of FavItems$ | async"; trackBy="trackBy">
            <div
              class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6"
            >
              <div
                class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
              >
                <a class="shrink-0 md:order-1">
                  <img
                    class="h-20 w-20 dark:hidden"
                    src="{{ item.image }}"
                    alt="imac image"
                  />
                  <img
                    class="hidden h-20 w-20 dark:block"
                    src="{{ item.image }}"
                    alt="imac image"
                  />
                </a>

                <label for="counter-input" class="sr-only"
                  >Choose quantity:</label
                >
                <div
                  class="flex items-center justify-between md:order-3 md:justify-end"
                >
                  <div class="text-end md:order-4 md:w-32">
                    <p
                      class="text-base font-bold text-gray-900 dark:text-white"
                    >
                      ${{ item.price }}
                    </p>
                  </div>
                </div>

                <div
                  class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
                >
                  <a
                    class="text-base font-medium text-gray-900 hover:underline dark:text-white"
                    >{{ item.title }}</a
                  >

                  <div class="flex items-center gap-4">
                    <app-add-to-favorites-button
                      [product]="item"
                      [isFavorite]="true"
                    ></app-add-to-favorites-button>
                    <app-add-to-cart-button
                      [product]="item"
                    ></app-add-to-cart-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
